*{
    box-sizing: border-box;
  }
  
.travelBanner{
    height: 55px;
    width: 550px;
    background-color: #F55A5A;
    margin-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    padding-left:200px;
    padding-top: 10px;
}

.bannerLogo{
    align-items: center;
    margin-top:3px;
    height:24px;
    width: 24px;
    margin-right:10px;
}

.bannerText{
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
}

.slide--whole{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-bottom: 36px;
    height: 168px;
    width: 500px;
}
.slide--line{
    width: 500px;
    border: 1px solid #F5F5F5;
    color: #F5F5F5;
    margin-top: 15px;
}

.slide--locationData{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 12px;
}

.slide--textbox{
    margin-left:20px;
}

.slide--pathicon{
    width: 7px;
    height: 9px;
    margin-right:4px;
}

.slide--location{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #2B283A;
    margin-right: 12px;
}

a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #918E9B;
    }

.slide--title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
    margin-top: 30px;
    height: 40px;
    margin-bottom: 0px;
}

.slide--dates{
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    color: #2B283A;
}

.slide--description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* or 15px */
    color: #2B283A;
    max-width: 330px;
}